<div class="panel panel-default">
  <div class="panel-heading">swagger</div>
  <div class="panel-body">
    <p>This project provides support for a <a href="http://swagger.io/">Swagger</a> API.</p>
    <p>The main <code>server/swagger.js</code> file includes the various paths and defintions from each api. For example, it includes the <code>server/api/clientConfig/swagger.js</code> file.
    The intent is that each api defines its own swagger docs.</p>
    <p>See the <a href="https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md">OpenAPI Specification</a> for details on how to describe your api.</p>
    <p>To test out the API, you can use the <a href="https://github.com/swagger-api/swagger-ui">Swagger UI</a>. Just point it to your own <code>/swagger</code>.</p>
  </div>
</div>
