<div class="panel panel-default" ng-controller="HomeAuthCtrl">
  <div class="panel-heading">satellizer</div>
  <div class="panel-body">
    <p>This project uses <a href="https://www.npmjs.com/package/satellizer">satellizer</a> for authentication with Google, Facebook, etc...</p>
    <p>The <code>client/services/auth/auth.js</code> file configures satellizer for the various OAuth providers. See <code>server/auth</code> for the server-side bit.</p>
    <button class="btn btn-default" ng-click="authenticate('facebook')"><i class="fa fa-facebook"></i>acebook</button>
    <button class="btn btn-default" ng-click="authenticate('google')"><i class="fa fa-google"></i>oogle</button>
    <button class="btn btn-default" ng-click="authenticate('github')"><i class="fa fa-github"></i> GitHub</button>
    <button class="btn btn-default" ng-click="authenticate('linkedin')"><i class="fa fa-linkedin"></i> LinkedIn</button>
    <div ng-show="isAuthenticated()">
      <div class="row">
        <div class="col-md-6">
          <img ng-show="userInfo.picture" ng-src="{{userInfo.picture}}"/>
        </div>
        <div class="col-md-6">
          {{userInfo.name}}<br/>{{userInfo.email}}
        </div>
      </div>
    </div>
  </div>
</div>
